header {
    box-shadow: 0 3px 3px -1px silver;
    margin-left: calc(var(--bs-gutter-x) * -.5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    padding-right: calc(var(--bs-gutter-x) * .5);
  }