<div class="alert alert-info" *ngIf="loading">Loading...</div>
<div style="padding: 20px;margin: 20px; background-color: skyblue;">
    <p>{{issue.description}}</p>
    <p>{{issue.status}}</p>
    <p>{{issue.assignee}}</p>
    <div><button *ngIf="values!.description" (click)="enableEditIssue()" >Edit issue</button></div>
</div>
<div *ngIf="issueUpdated" class="alert alert-success mt-2" style="padding: 20px;margin: 20px">Issue Updated</div>
<div *ngIf="editIssue">
    <form (ngSubmit)="updateIssue()" #form="ngForm">
        <div class="mb-3" style="padding: 20px;">
          <label for="description" class="form-label" style="padding: 20px;">Description</label>
          <input type="description" class="form-control" id="description" name="description" [(ngModel)]="values.description" #description="ngModel" required min="10">
        </div>
        <div class="mb-3" style="padding: 20px;">
            <label for="status" class="form-label" style="padding: 20px;">Status</label>
            <select name="status" [(ngModel)]="values.status" #status="ngModel" class="form-control" style="margin-left: 45px;">
                <option value="open" selected>Open</option>
                <option value="closed">Close</option>
            </select>
          </div>
        <div class="mb-3" style="padding: 20px;">
            <label for="assignee" class="form-label" style="padding: 20px;">Assignee</label>
            <input type="text" class="form-control" id="assignee" name="assignee" style="margin-left: 20px;"
               [(ngModel)]="values.assignee" #status="ngModel" required>
          </div>
        <div class="mb-3" style="margin-left: 120px;padding: 20px;">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Update</button>
        </div>
      </form>
</div>
    <div style="margin-left: 120px;padding: 20px;">
        <a [routerLink]="['/']">Issues List</a>
      </div>
      <div style="margin-left: 120px;padding: 20px;">
        <a [routerLink]="['/addIssue']">Add Issue</a>
      </div>