table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 5px 7px gray;
  }
  
  /* Set shadow on just the table head */
  thead {
    box-shadow: 0px 0px 10px gray;
  }
  
  /* Add some space around table heading. Align text to right and transform to uppercase */
  
  th {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
  }
.open {
    color: red;
    font-weight: bold;
}
.close {
    color: green;
    font-weight: bold;
}
.searchInput {
    width: 50%;
    margin-bottom: 20px;
  }
  
  /* When input gains focus, add a blue border below it */
  
  .searchInput:focus {
    border-bottom: 2px solid #4575b6;
  }
  
  /* Add padding on each cell */
  td {
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }
  
  /* Create alternating color(blue) across the rows. Set blue on all even ones (2, 4, 6 ...) */
  
  tr:nth-child(even) {
    background-color: #dee8f5;
  }
  .btn-primary {
    margin: 20px;
    background-color: skyblue;
    border-color: bisque;
  }
  .resetbtn-primary {
    margin-right: 20px;
    background-color: skyblue;
    border-color: bisque;
  }