<div class="alert alert-info" *ngIf="loading">Loading...</div>
<div>
    <input type="text" class="form-control searchInput" name="searchInput" id="searchInput" [(ngModel)]="searchInput"/>
    <button style="margin: 20px;" (click)="filterIssues()">Search</button>
    <button style="margin-right: 20px;" (click)="reset()">Reset</button>
    <a style="font-weight: bold;" [routerLink]="['/addIssue']">Add Issue</a>
</div>
<table>
    <thead style="background-color: skyblue;">
        <tr>
            <th>Description</th>
            <th>Status</th>
            <th>Assignee</th>
        </tr>
    </thead>
    <tbody style="background-color: lightgoldenrodyellow;">
        
        <tr *ngFor="let issue of issuesCopy">
            <td><a [routerLink]="['details/', issue._id]">{{issue!.description}} </a></td>
            <td *ngIf="issue.status !== 'open'" class="close">{{issue!.status}}</td>
            <td *ngIf="issue.status === 'open'">
                <button (click)="closeIssue(issue)"  class="open">{{issue!.status}}</button></td>
            <td>{{issue!.assignee}}</td>

        </tr>
    </tbody>
</table>

